/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(4, 1fr);
	grid-gap:10px;
}
#grid div:nth-child(1) {
  grid-column: 1 / 3; /* This will span the first div over the first 2 columns */
  grid-row: 1; /* This will place the first div in the first row */
}
#grid div:nth-child(2) {
  grid-column: 3;
  grid-row: 1; 
}
#grid div:nth-child(3),
#grid div:nth-child(4),
#grid div:nth-child(5) {
  grid-column: 1 / 4; 
  grid-row: 2; 
}
For the sixth
#grid div:nth-child(6) {
  grid-column: 1; 
  grid-row: 3; 
}
#grid div:nth-child(7),
#grid div:nth-child(8),
#grid div:nth-child(9),
#grid div:nth-child(10) {
  grid-column: 2 / 4; 
  grid-row: 3 / 5; 
}
